.imgLunch {
  position: absolute;
  width: 500;
  height: 500px;
  left: 50px;
  top: 100px;
  border-radius: 50px;
}

.imgLunchDash {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 450px;
  top: -10px;
  z-index: 20;
}

.button {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 80px;
  top: 370px;

  background: #fda678;
  border-radius: 48px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 27px;

  letter-spacing: 0.04em;
}
.button1 {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 245px;
  top: 370px;

  background: #fda678;
  border-radius: 48px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 27px;

  letter-spacing: 0.04em;
}
.button2 {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 405px;
  top: 370px;

  background: #fda678;
  border-radius: 48px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 27px;

  letter-spacing: 0.04em;
}
.button3 {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 570px;
  top: 370px;

  background: #fda678;
  border-radius: 48px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 27px;

  letter-spacing: 0.04em;
}
.button4 {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 735px;
  top: 370px;

  background: #fda678;
  border-radius: 48px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 27px;

  letter-spacing: 0.04em;
}
// -----------------------------------------------------------------
.button0 {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 80px;
  top: 260px;

  
  border-radius: 48px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 27px;
  color: white;

  letter-spacing: 0.04em;
}
.button1_1 {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 245px;
  top: 260px;


  border-radius: 48px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 27px;
  color: white;
  letter-spacing: 0.04em;
}
.button2_2 {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 405px;
  top: 260px;
  border-radius: 48px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 27px;
  color: white;
  letter-spacing: 0.04em;
}
.button3_3 {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 570px;
  top: 260px;
  border-radius: 48px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 27px;
  color: white;
  letter-spacing: 0.04em;
}
.button4_4 {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 735px;
  top: 260px;

  border-radius: 48px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 27px;
  color: white;
  letter-spacing: 0.04em;
}

.imgchef {
  position: absolute;
  left: 920px;
  max-width: 400px;
}

.imgchef2 {
  visibility: hidden;
}

@media (max-width: 535.98px) {
  .imgLunch {
    width: 300;
    height: 300px;
    left: 50px;
    top: 250px;
    border-radius: 50px;
  }

  .imgLunchDash {
    width: 300px;
    height: 300px;
    left: 300px;
    top: 100px;
  }

  .button {
    width: 60px;
    height: 30px;
    left: 65px;
    top: 400px;

    font-size: 12px;
    line-height: 10px;
  }
  .button1 {
    width: 60px;
    height: 30px;
    left: 165px;
    top: 400px;

    font-size: 12px;
    line-height: 10px;
  }
  .button2 {
    width: 60px;
    height: 30px;
    left: 265px;
    top: 400px;

    font-size: 12px;
    line-height: 10px;
  }
  .button3 {
    width: 60px;
    height: 30px;
    left: 360px;
    top: 400px;

    font-size: 12px;
    line-height: 10px;
  }
  .button4 {
    width: 60px;
    height: 30px;
    left: 460px;
    top: 400px;

    font-size: 12px;
    line-height: 10px;
  }

  .imgchef {
    visibility: hidden;
  }

  .imgchef2 {
    visibility: visible;
    position: absolute;
    top: 550px;
    max-width: 300px;
  }
}

// @media (max-width: 767.98px) {
// }

// @media (max-width: 991.98px) {
// }

// @media (max-width: 1190.98px) {
// }
