<div class="LmainPic">
  <img class="imgLunch" src="./../../assets/Group 8.png" />
  <img class="imgLunchDash" src="./../../assets/Ellipse dash1.png" />
  <img class="imgchef" src="./../../assets/chef.png" />
  <!-- <img class="imgchef2" src="./../../assets/smCheff.png" /> -->
  <button class="btn button" [routerLink]="['/order']">order</button>
  <button class="btn button1" [routerLink]="['/order']">order</button>
  <button class="btn button2" [routerLink]="['/order']">order</button>
  <button class="btn button3" [routerLink]="['/order']">order</button>
  <button class="btn button4" [routerLink]="['/order']">order</button>

  <p class="button0">ingredients: tomato, chicken, olive</p>
  <p class="button1_1">ingredients: pasta, tomato</p>
  <p class="button2_2">ingredients: egg, pitna</p>
  <p class="button3_3">ingredients: pasta, tomato</p>
  <p class="button4_4">ingredients: ankarda, spacanda, conganda</p>
</div>
