<div class="BmainPic">
  <img
    class="imgBreakfast"
    src="./../../assets/pexels-artem-beliaikin-6173003 1.png"
  />
</div>

<div class="BRec">
  <img class="recBreakfast" src="./../../assets/Rectangle 2.png" />
</div>
<div class="content">
  <h1>Best Cafe For Tasty Breakfast</h1>
  <p>
    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
    veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
  </p>
</div>
