.nav-container{
position: absolute;
width: 1241.56px;
height: 27px;
left: 100px;
top: 55px;
 
}
// .logo {
// position: static;
// width: 50.78px;
// height: 20.01px;
// left: 50.82px;
// top: 20.01px;

// background: #C4C4C4;
// transform: rotate(179.89deg);
// flex: none;
// order: 0;
// flex-grow: 0;
// margin: 0px 7px;
// }