<!-- <br><br><br><br><br><br><br><br><br><br> -->

<form class="container ">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Insert your name</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"
      >Insert your surname</label
    >
    <input type="password" class="form-control" id="exampleInputPassword1" />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"
      >Location where you want your order to be delivered</label
    >
    <input type="password" class="form-control" id="exampleInputPassword1" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="orderPic">
    <img src="../../assets/pngwing.com.png" class="deliver">
</div>