<div class="mainContainer">
    <div class="mainText">
    <h1>Feel the taste</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, quam aliquid
    maxime nisi ducimus sunt nobis natus in? Architecto porro molestias sequi
    numquam voluptatibus nesciunt sint, quasi obcaecati praesentium ratione?
  </p>    
    </div>
  
  <button class="btn button">order</button>
  <div class="foodGroup">
        <img class="imgGroup" src="./../../assets/Mask Group.png" />
  </div>
  <div class="foodMain">
        <img class="imgCenter" src="./../../assets/1.png" />
  </div>

  <div class="icons">
      <i class="fab fa-facebook-square"></i>
  </div>
</div>
