<div class="mainDecoration">
  <img class="mainDec" src="../assets/Ellipse 4.png" />
</div>
<br /><br /><br /><br />
<div class="cover">
  <img class="coverP" src="./../../assets/cover.jpg" />
</div>
<div class="mainContainer">
  <div class="mainText1">
    <h1>About us</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, quam
      aliquid maxime nisi ducimus sunt nobis natus in? Architecto porro
      molestias sequi numquam voluptatibus nesciunt sint, quasi obcaecati
      praesentium ratione?
    </p>
  </div>

  <div class="foodGroup">
    <img class="imgGroup" src="./../../assets/Mask Group.png" />
  </div>
  <div class="foodMain">
    <img class="imgCenter" src="./../../assets/1.png" />
  </div>

  <a class="icons"><i class="fab fa-facebook-f"></i> </a>
</div>
