<br><br><br><br><br>
<div class="row">
  <br />
  <div class="col-12">
    <h2 class="text-center mb-4 text-muted">Sign In</h2>
  </div>
  <!-- {{ signInData | json }} -->
  <hr class="divider" style="color: rgba(3, 3, 190, 0.527)" />
  <br />
  <div class="col-6 mx-auto">
    <form #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          [(ngModel)]="signInData.email"
          name="email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          [(ngModel)]="signInData.password"
          name="password"
        />
      </div>
      <div class="mb-3 form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="remember"
          [(ngModel)]="signInData.remember"
          name="remember"
        />
        <label class="form-check-label" for="remember">Check me out</label>
      </div>
      <p>
        <a class="btn btn-link" [routerLink]="['/auth/sign-up']">Sign Up</a>
      </p>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>